//-
    * Icon-list.pug
    * Блок иконок с социальными сетями и контактами
    *
    * @block   {icon-list} начало разметки блока
    * @element {icon-list__item} разметка элемента - иконки
    * @modifer {icon-list__item--vk} модификатор для vk
    * @modifer {icon-list__item--git} модификатор для git
    * @modifer {icon-list__item--mail} модификатор для mail
//-   
mixin icon-list()
    +b.icon-list&attributes(attributes)
        +e.A(href="https://vk.com/MerkurevSergei").item.--vk &#xf189;
        |
        |
        +e.A(href="https://github.com/MerkurevSergei").item.--git &#xf300;
        |
        |
        +e.A(href="mailto:MerkurevSergei@yandex.ru").item.--mail &#xf0e0;