/**
* Sandwich.scss
* Сэндвич блок, включает оформление самого блока и линий внутри
* 
* @block   {sandwich} блок сэндвич
* @element {sandwich__line} линии внутри блока
*/ 
// ================================ SANDWICH =============================== //
.sandwich {
    width: 35px;
    padding: 0;
    
    font-size: 0;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer;
    &:focus {
        padding: 0;
        outline: 0;
    }
}

.sandwich__line {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: $brown;
}
