//-
    * Sandwich.pug
    * Блок сэндвич
    *
    * @param {num} количество линий внутри сэндвича
//-
mixin sandwich(num)
    - var i=0;
    +b.DIV&attributes(attributes).sandwich
        while i<num
            +e.line
            - i++;