head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    //- SPECIAL APPLE AND MOBILE META
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="apple-touch-fullscreen" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    // meta(name="author"   content="FIO")
    // meta(name="copyright" content="Copyright")
    // meta(name="description" content="Description")
    // meta(name="keywords" content="Keywords")
    // meta(name="subject" content="Description+")
    // meta(name="pagename" content="Mobile_main")
    link(rel="stylesheet" type="text/css" href="css/style.min.css")
    link(rel="icon" type="image/png" href="img/favicon.png" sizes="32x32")
    link(rel="apple-touch-icon-precomposed" href="img/faviconx260.png" sizes="260x260")
    title 4Room
    |
    |
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:200&amp;subset=cyrillic" rel="stylesheet">
    
    script(src="js/app.js")