//-
    * About-me.pug
    * Блок с информацией об авторе
    *
    * @block {about-me} блок
    * @element {paragraph} параграф блока
//-  
mixin about-me()
    +b.about-me
        +e.P.paragraph.
            Привет, я увлекаюсь программированием с 2003 года, получил два высших образования в этой сфере.
            За это время изучил много языков программирования, работал с базами данных, читал теоретический материал:
            алгоритмы, паттерны проектирования, исскуство написания чистого кода, устройство вычислительных машин.
            Постоянно развиваюсь и учусь чему-то новому, в данный момент мне интересна веб-разработка, и в частности frontend.
        +e.P.paragraph.
            Версткой занимаюсь более полугода, за это время прошел курсы на htmlacademy,
            сверстал несколько макетов, а также разработал дизайн и сверстал это портфолио.
            Имею навыки: <b>валидной</b>, <b>семантичной</b> и <b>кроссбраузерной</b>
            вёрстки с учётом <b>pixel perfect</b>, изучил методологию <b>БЭМ</b>.
            Хорошо освоил <b>html5</b>, <b>css3</b>, <b>sass</b>, неплохо знаю <b>php</b> и основы <b>js</b>.
            Владею такими инструментами как <b>gulp</b>, <b>git</b>, основами <b>photoshop</b>.