//-
    * Menu.pug
    * Блок меню, включает "сэндвич" на маленьких экранах, с возможностью
    * раскрытия и развернутое меню на больших
//-   
include ../sandwich/sandwich.pug
mixin menu()
    +b.NAV.menu
        +sandwich(3)(class="menu__sandwich")
        +e.UL.links.display-off
            +e.link.--active
                a Все проекты
            +e.link.--other
                a(href="#") Веб
            +e.link.--other
                a(href="#") Прочее
            +e.link.--border
                a(href="#about-me") Обо мне
            +e.link
                a(href="#contacts") Контакты