//-
    * Menu.pug
    * Блок меню включает блок "сэндвич" на маленьких экранах, с возможностью
    * раскрытия, и развернутое меню на больших
    *
    * @block   {menu} начало блока меню
    * @block   {sandwich} вложенный блок "сэндвич"
    * @element {menu__sandwich} разметка позиционирует @block {sandwich}
    * @element {menu__link} разметка пункта меню
    * @element {menu__link--active} модификатор - активная ссылка
    * @element {menu__link--other}  модификатор - другая ссылка, 
    *                               скрывается при недостатке места
    * @element {menu__link--border} модификатор - ссылка с разделителем
//-   
include ../sandwich/sandwich.pug
mixin menu()
    +b.NAV.menu&attributes(attributes)
        +sandwich(3)(class="menu__sandwich")
        +e.UL.links.display-off
            +e.link.--active
                a Все проекты
            +e.link.--other
                a(href="#") Веб
            +e.link.--other
                a(href="#") Прочее
            +e.link.--border
                a(href="#about-me") Обо мне
            +e.link
                a(href="#contacts") Контакты