mixin menu()
    +b.NAV.menu
        +e.sandwich
            +e.SPAN.sandwich-title Все проекты
            +e.A.sandwich-icon(href="#")
               +e.sandwich-line
               +e.sandwich-line
               +e.sandwich-line
        +e.UL.links.display-off
            +e.link.--active
                a Все проекты
            +e.link.--other
                a(href="#") Веб
            +e.link.--other
                a(href="#") Прочее
            +e.link.--border
                a(href="#about-me") Обо мне
            +e.link
                a(href="#contacts") Контакты