//- SPECIAL
include ../vendors/bemto/bemto.pug
- set_bemto_settings({ modifier: '--' })

//- BLOCKS
include ../blocks/about-me/about-me.pug
include ../blocks/icon-list/icon-list.pug
include ../blocks/mailplate/mailplate.pug
include ../blocks/menu/menu.pug
include ../blocks/presentation/presentation.pug
include ../blocks/projects/projects.pug

//- MARKUP
doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="author"   content="Меркурьев С.Н.")
        meta(name="copyright" content="Меркурьев Сергей")
        meta(name="description" content="Портфолио разработчика")
        meta(name="keywords" content="Портфолио, веб, разработка, программирование")
        meta(name="subject" content="В портфолио я собираю свои различные проекты, как в области веб-разработки, так и вдругих областях, например: С++, радиомоделирование и пр.")
        meta(name="pagename" content="Все проекты")

        link(rel="stylesheet" type="text/css" href="css/style.min.css")
        link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
        link(rel="icon"          type="image/x-icon" href="favicon.ico")
        
        title Меркурьев Сергей
    +b.BODY.grid
        +e.HEADER.row.--header
            +e.row-container
                +presentation("Меркурьев Сергей", "Портфолио разработчика")(class="grid__column-1--presentation")
                +menu()(class="grid__column-2--menu")
        +e.MAIN.row.--main
            +e.row-container
                +projects("Портфолио")
        +e.DIV.row.--submain
            +e.row-container
                +about-me()         
        +e.FOOTER.row.--footer
            +e.row-container
                +b.contacts
                    +e.H1.title
                        +e.A(name="contacts") Контакты
                +icon-list()(class="grid__column-1--contacts")
                +mailplate()(class="grid__column-2--mailplate")
        //- Scripts
        script(src="js/app.min.js")
        <!-- Yandex.Metrika counter -->

        script(type="text/javascript").
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter45334848 = new Ya.Metrika({
                            id:45334848,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        noscript
            div
                img(src="https://mc.yandex.ru/watch/45334848" style="position:absolute; left:-9999px;" alt="")