//- SPECIAL
include ../vendors/bemto/bemto.pug
- set_bemto_settings({ modifier: '--' })

//- BLOCKS
include ../blocks/about-me/about-me.pug
include ../blocks/icon-list/icon-list.pug
include ../blocks/mailplate/mailplate.pug
include ../blocks/menu/menu.pug
include ../blocks/presentation/presentation.pug
include ../blocks/projects/projects.pug

//- MARKUP
doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="author"   content="Меркурьев С.Н.")
        meta(name="copyright" content="Меркурьев Сергей")
        meta(name="description" content="Портфолио разработчика")
        meta(name="keywords" content="Портфолио, веб, разработка, программирование")
        meta(name="subject" content="В портфолио я собираю свои различные проекты, как в области веб-разработки, так и вдругих областях, например: С++, радиомоделирование и пр.")
        meta(name="pagename" content="Все проекты")

        link(rel="stylesheet" type="text/css" href="css/style.min.css")
        link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
        link(rel="icon"          type="image/x-icon" href="favicon.ico")
        
        title Меркурьев Сергей
    +b.BODY.grid
        +e.HEADER.row.--header
            +e.row-container
                +presentation("Меркурьев Сергей", "Портфолио разработчика")(class="grid__column-1--presentation")
                +menu()(class="grid__column-2--menu")
        +e.MAIN.row.--main
            +e.row-container
                +e.H1.row-title.--projects Портфолио
                +projects()
        +e.DIV.row.--submain
            +e.row-container
                +e.H1.row-title.--about-me
                    +e.A(name="about-me") Обо мне
                +about-me()         
        +e.FOOTER.row.--footer
            +e.row-container
                +e.H1.row-title.--contacts
                    +e.A(name="contacts") Контакты
                +icon-list()(class="grid__column-1--contacts")
                +mailplate()(class="grid__column-2--mailplate")
        //- Scripts
        script(src="js/app.min.js")
        
        <!-- Yandex.Metrika counter -->
        noscript
            div
                img(src="https://mc.yandex.ru/watch/45334848" style="position:absolute; left:-9999px;" alt="")