//- SPECIAL
include ../vendors/bemto/bemto.pug
- set_bemto_settings({ modifier: '--' })

//- BLOCKS
include ../blocks/about-me/about-me.pug
include ../blocks/icon-list/icon-list.pug
include ../blocks/mailplate/mailplate.pug
include ../blocks/menu/menu.pug
include ../blocks/presentation/presentation.pug
include ../blocks/project/project.pug

//- MARKUP
doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="author"   content="Меркурьев С.Н.")
        meta(name="copyright" content="Меркурьев Сергей")
        meta(name="description" content="Портфолио разработчика")
        meta(name="keywords" content="Портфолио, веб, разработка, программирование")
        meta(name="subject" content="В портфолио я собираю свои различные проекты, как в области веб-разработки, так и вдругих областях, например: С++, радиомоделирование и пр.")
        meta(name="pagename" content="Все проекты")

        link(rel="stylesheet" type="text/css" href="css/style.min.css")
        link(rel="shortcut icon" type="image/x-icon" href="favicon.ico")
        link(rel="icon"          type="image/x-icon" href="favicon.ico")
        
        title Меркурьев Сергей
    +b.BODY.grid
        +e.HEADER.row.--header
            +e.row-container
                +e.column-1.--presentation
                    +presentation("Меркурьев Сергей", "Портфолио разработчика")
                +e.column-2.--menu
                    +menu()
        +e.MAIN.row.--main
            +e.row-container.projects
                +e.H1.row-title Портфолио
                +project(
                    "ГдеЭтотДом.РУ",
                     "Верстка по макету из PDF-файла.",
                     "img/project-gdeetotdom.jpg",
                     ["Html5","Css3","Simple JS","Less","Gulp"],
                     ["Responsive","БЭМ","Из PDF"],
                     "20170731",
                     "20170731",
                     "projects/gdeetotdom/public/index.html",
                     "Демо",
                     "https://github.com/MerkurevSergei/MerkurevSergei.github.io/tree/master/public/projects/gdeetotdom",
                     "Код"
                )
                +project(
                    "Портфолио",
                    "Верстка личного портфолио.",
                    "img/project-portfolio.jpg",
                    ["Html5","Css3","Simple JS","Pug","Sass","Gulp"],
                    ["Adaptive","Responsive","БЭМ"],
                    "20170715",
                    "20170715",
                    "index.html",
                    "Демо",
                    "https://github.com/MerkurevSergei/MerkurevSergei.github.io/",
                    "Код"
                )
                +project(
                    "Nёrd's",
                    "Верстка макета веб-студии «Nёrd's» от htmlacademy.",
                    "img/project-nerds.jpg",
                    ["Html5","Css3","Sass","Gulp"],
                    ["Pixel Perfect","БЭМ"],
                    "20170701",
                    "20170701",
                    "projects/nerds/index.html",
                    "Демо",
                    "https://github.com/MerkurevSergei/MerkurevSergei.github.io/tree/master/public/projects/nerds/",
                    "Код"
                )
                +project(
                    "Барбершоп",
                    "Верстка классического макета барбершопа «Бородинский» от htmlacademy.",
                    "img/project-barbershop.jpg",
                    ["Html5","Css3"],
                    ["Pixel Perfect"],
                    "20170615",
                    "20170615",
                    "projects/barbershop/index.html",
                    "Демо",
                    "https://github.com/MerkurevSergei/MerkurevSergei.github.io/tree/master/public/projects/barbershop",
                    "Код"
                )
                +project(
                    "Блог на symfony",
                    "Стартовая сборка gulp для frontend разработки.",
                    "img/project-C++.jpg",
                    [],
                    [],
                    "20170701",
                    "20170701",
                    "projects/SecretAlbum/index.html",
                    "Демо",
                    "https://github.com/MerkurevSergei/MerkurevSergei.github.io/tree/master/public/projects/C%2B%2B",
                    "Код"
                )
                +project(
                    "С++/Qt",
                    "Реализация несложных сортировок и алгоритмов на графах.",
                    "img/project-C++.jpg",
                    [],
                    [],
                    "20161231",
                    "20161231",
                    "projects/gdeetotdom/public/index.html",
                    "Демо",
                    "https://github.com/MerkurevSergei/MerkurevSergei.github.io/tree/master/public/projects/C%2B%2B",
                    "Код"
                )
                +project(
                    "Сделано руками",
                    "Интересные штуки сделанные руками.",
                    "img/project-C++.jpg",
                    [],
                    [],
                    "20170211",
                    "20170211",
                    "https://github.com/MerkurevSergei/MerkurevSergei.github.io/tree/master/public/projects/made_by_hand",
                    "Демо",
                    "https://github.com/MerkurevSergei/MerkurevSergei.github.io/tree/master/public/projects/made_by_hand",
                    "Код"
                )
        +e.row.--submain
            +e.row-container
                +about-me()         
        +e.FOOTER.row.--footer
            +e.row-container.tg
                +e.H1.title
                    +e.A(name="contacts") Контакты
                +e.column-1.--contacts
                    +icon-list()
                +e.column-2.--mailplate
                    +mailplate()
        //- Scripts
        script(src="js/app.min.js")
        <!-- Yandex.Metrika counter -->

        script(type="text/javascript").
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter45334848 = new Ya.Metrika({
                            id:45334848,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        noscript
            div
                img(src="https://mc.yandex.ru/watch/45334848" style="position:absolute; left:-9999px;" alt="")