//- SPECIAL
include ../vendors/bemto/bemto.pug
- set_bemto_settings({ modifier: '--' })

//- BLOCKS
//- include ../blocks/example/example.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/menu/menu.pug
include ../blocks/sandwich/sandwich.pug
include ../blocks/up/up.pug

//- MARKUP
doctype html
html(lang="ru")
    include includes/head.pug
    +b.BODY.grid-agreement
        +e.HEADER.container.--header
        +e.MAIN.container.--main
            +e.DIV.blanket
            +e.DIV.content
                +e.ARTICLE.article.tg
                    +e.H1 Соглашение на обработку персональных данных
                    +e.H2 Основные понятия  
                    +e.P.
                        Посетитель Сайта — лицо, пришедшее на сайт ……. для 
                        ознакомления с контентом сайта без цели отправки Заявки. 
                        Пользователь — физическое лицо посетитель Сайта, 
                        принимающий условия настоящего Соглашения и желающий 
                        отправить Заявку на Сайте
                    +e.P.
                        Пользователь — физическое лицо посетитель Сайта, принимающий условия
                        настоящего Соглашения и желающий отправить Заявку на Сайте.
                    +e.P Оператор — …….
                    +e.P ОГРН: …….
                    +e.P ИНН: …….
                    +e.P Адрес регистрации: …….
                    +e.P Сайт — …….
                    +e.P.
                        Услуги — информационные, рекламные услуги, представленные на Сайте.
                    +e.P.
                        Заявка — должным образом оформленный запрос Пользователя
                        на предварительную Консультацию Специалиста Оператора.
                    +e.H2 Общие положения
                    +e.P.
                        Оставляя Заявку через формы на Сайте, Пользователь соглашается с условиями
                        обработки персональных данных. В случае несогласия с настоящим
                        Пользовательским соглашением (далее — Соглашение / Публичная оферта)
                        Пользователь обязан немедленно прекратить использование сервиса и покинуть
                        сайт ……….
                    +e.P.
                        Соглашение может быть изменено Оператором в одностороннем порядке
                        с обязательным уведомлением Пользователя. Новая редакция Соглашения
                        вступает в силу по истечении 10 (Десяти) календарных дней с момента ее
                        опубликования на Сайте, если иное не предусмотрено условиями настоящего
                        Соглашения.
                    +e.P.
                        Публичная оферта признается акцептованной Посетителем Сайта с момента
                        отправки формы Заявки на Сайте, расположенной по адресу ………, а также
                        с момента принятия от Пользователя Заявки по одному из телефонов Оператора,
                        указанных на страницах контактов организации
                    +e.P.
                        Сообщая Продавцу свои персональные данные: фамилию, имя, отчество, e-mail
                        и номер телефона, Посетитель Сайта/Пользователь дает согласие
                        на использование указанных данных Продавцом, а также третьими лицами,
                        привлекаемыми им для целей выполнения обязательств перед Посетителями
                        Сайта/Пользователями, в целях оказания ему услуг, указанных на сайте,
                        осуществления рассылок рекламного и информационного характера, содержащих
                        информацию о скидках, предстоящих и действующих акциях и других
                        мероприятиях Продавца, о передаче заказа в обработку, а также иную
                        информацию, непосредственно связанную с выполнением обязательств
                        Покупателем в рамках настоящей Публичной оферты.
                    +e.P.
                        Отправляя Заявку, Пользователь соглашается с тем, что Оператор может поручить
                        исполнение части Договора третьему лицу, при этом оставаясь ответственным
                        за его исполнение
                    +e.H2 Предмет соглашения
                    +e.P.
                        Предметом настоящего Соглашения является предоставление Пользователем
                        Оператору вышеуказанных персональных данных для проведения рекламных
                        и информационных консультаций Пользователя и в дальнейшем для надлежащего
                        исполнения Оператором своих обязанностей по заключенным между Сторонами
                        Договорам.
                    +e.H2 Оформление Заявки на Сайте
                    +e.P.
                        Оформление Заявки на Сайте осуществляется с помощью заполнения форм Заявки
                        и отправки ее путем нажатия на кнопку «Отправить» на страницах сайта …………
                    +e.P.
                       Оператор не несет ответственности за точность и правильность информации,
                       предоставляемой Пользователем при оформлении Заявки.
                    +e.P.
                        Общение Пользователя/Покупателя с операторами Call-центра / менеджерами
                        и иными представителями Оператора должно строиться на принципах
                        общепринятой морали и коммуникационного этикета. Строго запрещено
                        использование нецензурных слов, брани, оскорбительных выражений, а также
                        угроз и шантажа, в независимости от того, в каком виде и кому они были
                        адресованы.
                    +e.H2 Конфиденциальность и защита информации
                    +e.P.
                        Персональные данные Пользователя/Покупателя обрабатывается в соответствии
                        с ФЗ »О персональных данных» № ? 152-ФЗ.
                    +e.P.
                        При отправке заявки на Сайте Пользователь предоставляет следующую
                        информацию: Фамилия, Имя, Отчество, контактный номер телефона, адрес
                        электронной почты.
                    +e.P.
                        Предоставляя свои персональные данные Оператору, Посетитель Сайта/
                        Пользователь/Клиент соглашается на их обработку Оператором, в рамках
                        выполнения Оператором обязательств перед Посетителем Сайта/Пользователем,
                        оказания услуг Клиенту, продвижения Оператором своих услуг, проведения
                        электронных и sms опросов, контроля результатов маркетинговых акций,
                        клиентской поддержки, контроля удовлетворенности Посетителя Сайта/
                        Пользователя, а также качества услуг, оказываемых Оператором.   
                    +e.P.
                        Под обработкой персональных данных понимается любое действие (операция)
                        или совокупность действий (операций), совершаемых с использованием средств
                        автоматизации или без использования таких средств с персональными данными,
                        включая сбор, запись, систематизацию, накопление, хранение, уточнение
                        (обновление, изменение) извлечение, использование, передачу (в том числе
                        передачу третьим лицам, не исключая трансграничную передачу, если
                        необходимость в ней возникла в ходе исполнения обязательств), обезличивание,
                        блокирование, удаление, уничтожение персональных данных.
                    +e.P.
                        Оператор имеет право отправлять информационные, в том числе рекламные
                        сообщения, на указанную электронную почту и мобильный телефон Пользователя/
                        Покупателя с его согласия, выраженного посредством совершения им действий,
                        однозначно идентифицирующих этого абонента и позволяющих достоверно
                        пердавать ему сообщения. 
                    +e.P.
                        Пользователь/Покупатель вправе в любое время отказаться от получения
                        рекламной и другой информации без объяснения причин отказа путем
                        направления соответствующего сообщения в свободной форме. 
                    +e.P.
                        Оператор вправе использовать технологию “cookies”. “Cookies” не содержат
                        конфиденциальную информацию. 
                    +e.P.
                        Посетитель / Пользователь / Покупатель настоящим дает согласие на сбор, анализ
                        и использование cookies, в том числе третьими лицами для целей формирования
                        статистики и оптимизации рекламных сообщений.  
                    +e.P.
                        Оператор получает информацию об ip-адресе посетителя Сайта ………. Данная
                        информация не используется для установления личности посетителя 
                    +e.P.
                        Оператор не несет ответственности за сведения, предоставленные Пользователем/
                        Покупателем на Сайте в общедоступной форме. 
                    +e.P.
                        Оператор вправе осуществлять записи телефонных разговоров с Пользователем/
                        Покупателем. При этом Оператор обязуется: предотвращать попытки
                        несанкционированного доступа к информации, полученной в ходе телефонных
                        переговоров, и/или передачу ее третьим лицам, не имеющим непосредственного
                        отношения к исполнению Заказов, в соответствии с п. 4 ст. 16 Федерального
                        закона «Об информации, информационных технологиях и о защите информации». 
                    +e.H2 Срок действия Публичной оферты
                    +e.P.
                        Настоящая Публичная оферта вступает в силу с момента ее акцепта Посетителем
                        Сайта, и действует до момента отзыва акцепта Публичной оферты.
                    +e.H2 Дополнительные условия
                    +e.P.
                        Оператор вправе переуступать либо каким-либо иным способом передавать свои
                        права и обязанности, вытекающие из его отношений с Покупателем, третьим лицам
                        только при согласии Покупателя.
                    +e.P.
                        Сайт и предоставляемые сервисы могут временно частично или полностью
                        недоступны по причине проведения профилактических или иных работ
                        или по любым другим причинам технического характера.
                    +e.P.
                        К отношениям между Пользователем и Оператором применяются положения
                        Российского законодательства.
                    +e.P.
                        В случае возникновения вопросов и претензий со стороны Пользователя/
                        Покупателя он должен обратиться к Оператору по телефону или иным доступным
                        способом.
                    +e.P.
                        Все возникающее споры стороны будут стараться решить путем переговоров,
                        при недостижении соглашения спор будет передан на рассмотрение в судебный
                        орган в соответствии с действующим законодательством РФ.
                    +e.P.
                        Признание судом недействительности какого-либо положения настоящего
                        Соглашения не влечет за собой недействительность остальных положений.
            +e.DIV.blanket
        +e.FOOTER.container.--footer 
            +up()(class="grid__up")
        +breadcrumbs("")(class="grid__breadcrumbs--fixed")
        +menu([
            ['Главная', 'index.html',''],
            ['Проекты', 'projects.html',''],
            ['Бюро', 'about.html',''],
            ['Блог', 'blog.html',''],
            ['Услуги и стоимость', 'services.html',''],
            ['Контакты', 'contacts.html','']
        ])(class="grid__menu--fixed")
        +b.DIV.popup-all
        +e.A(href="contacts.html").back ВЕРНУТЬСЯ
        +sandwich()(class="grid__sandwich")
        