.project {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    
    margin: 0;
    margin-bottom: 5%;
    padding: 0;
    
    background: white;
    border: 5px solid white;
    box-sizing: border-box;
    box-shadow: 0px 0px 6px 1px #5a5d79;
    
    &:hover {
        border-color: #dddddd;
    }
    
    &:hover .project__popup{
        visibility: visible;
    }

}

// First layout
.project__presentation {
    
}
.project__icons {
    position: absolute;
    left: 5%;
    bottom: 5%;
    
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    & p {
        margin: 0;
    }
    & span {
        display: inline-block;
        margin-top: 2%;
        padding: 1%;
        
        color: $grey-dark;
        font-weight: bold;
        
        background: rgba(255,255,255,0.7);
        border-radius: 5px;
        box-shadow: 0 0 2px 1px $brown-dark;
    }
}
.project__icons-technologies {
    
    
}
.project__icons-methods {
    
}
.project__image {
} 

// Second layout
.project__popup {
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
    height: 100%;
    border: 5px solid #dddddd;
    color: white;
    overflow: hidden;
    visibility: hidden;
    background: rgba(0,0,0,0.9);
}
.project__title {
    margin: 0 7%;
    padding: 0 3%;
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 20px;
    line-height: 28px;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 2px solid $brown-light;
}
.project__description {
    margin: 0;
    padding: 2% 7%;
    color: $grey-light;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
}

.project__link {
    position: absolute;
    bottom: 5%;
    
    display: inline-block;
    width: 30%;
   // height: 10%;
    padding: 0;
    padding-top: 0%;
    padding-right: 5px;
    
    color: $brown-light;
    font-size: 12px;
    line-height: 270%;
    text-align: center;
    text-decoration: none;
    
    box-shadow: 0 0 1px 0px $brown inset;
    border-radius: 15px;
    background: rgba(0,0,0,0.3);
    
    &--left {
        left: 7%;   
    }
    &--right {
        right: 7%;
    }
    
    &:hover {
        box-shadow: 0 0 4px 1px $brown inset;
        background: rgba(0,0,0,0.9);
    }
}

// MEDIA
@media (min-width: 550px) {
    .project {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
    }
    
}
@media (min-width: 700px) {
    .project {
        width: 74%;
        margin-left: 13%;
        margin-right: 13%;
        margin-bottom: 5%;
    }
    
}
@media (min-width: 750px) {
    .project {
        margin-left: 2%;
        margin-right: 0%;
        margin-bottom: 2%;
        width: 49%;
        &:nth-of-type(2n+1) {
            margin-left: 0;
        }
    }
}
@media (min-width: 1120px) {
    .project {
        width: 32%;
        margin-left: 2%;
        margin-right: 0%;
        &:nth-of-type(2n+1) {
            margin-left: 2%;
        }
        &:nth-of-type(3n+1) {
            margin-left: 0%;
        }
    }
}
