.contacts {
    position: relative;
}
.contacts__title {
    color: $grey-dark;
}
.contacts__icons {
    text-align: center;   
    margin-bottom: 20px;
}
.contacts__icon {
    color: $grey-dark;
    font-family: 'fontello';
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 10px;
    text-decoration: none;
    &:hover {
        color: $brown-dark;
    }
}

.contacts__mail {

    margin-bottom: 20px;
    padding: 5px 7px;
    
    color: $grey-dark;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    
    background: #fff3de;
    border: 2px solid #dec3a5; 
    border-radius: 3px;
}

@media (min-width: 700px) {
    .contacts__mail {
        
        position: absolute;
        right: 0;
        bottom: 0;
        width: 200px;
    }
}
