//-
    * Mailplate.pug
    * Блок табличка с электронной почтой
    *
    * @block {mailplate} начало разметки блока
//-   
mixin mailplate()
    +b.mailplate&attributes(attributes)
        span Связаться со мной: 
        span MerkurevSergei@yandex.ru