//-
    * Menu.pug
    * Блок меню, включает "сэндвич" на маленьких экранах, с возможностью
    * раскрытия и развернутое меню на больших
//-   
mixin mailplate()
    +b.mailplate&attributes(attributes)
        span Связаться со мной: 
        span MerkurevSergei@yandex.ru