/**
 * Mailplate.scss
 * Блок табличка с электронной почтой
 *
 * @block {mailplate} начало разметки блока
 */
.mailplate {
    padding: 5px 7px;
    
    color: $grey-dark;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    
    background: #fff3de;
    border: 2px solid #dec3a5; 
    border-radius: 3px;
}
