//-
    * sandwich.pug
    * Блок Sandwich
    *
    * @block {sandwich} начало разметки блока
//-   
mixin sandwich()
    +b.A(href="#").sandwich&attributes(attributes)
        +e.SPAN.line
        +e.SPAN.text Проекты 
        
            
