/**
* Базовая сетка проекта 
* 
* @block   {grid} начало блока
* @element {grid__row} строка сетки, здесь зададим мин.отступ от grid, фон строки
* @element {grid__row-container} внутри расположены колонки/контент на всю строку
* @element {grid__column-1} колонка, идущая первой в потоке
* @element {grid__column-2} колонка, идущая второй в потоке
*/  
// ================================== GRID ================================= //
.grid {
}
// ================================== ROW ================================== //
// EXTERNAL ROW
.grid__row {
    padding-left: 5%;
    padding-right: 5%;
    @include clearfix-full;
    
    &--header {
        background: black;   
    }
    &--main {
        
    }
    &--submain {
        background: $grey-dark;  
        color: cornsilk;
    }
    &--footer {
        min-height: 50px;
        background: #fff3de; 
    }
}

// INNER ROW
.grid__row-container {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    @include clearfix-full;
}

// ROW TITLE
.grid__row-title {
    @include block-title;
    
    &--projects{
        color: $grey-dark;
    }
    &--contacts {
        color: $grey-dark;
    }
}

// ================================ COLUMNS ================================ //
// COLUMNS
.grid__column-1 {
    width: 100%;
    box-sizing: border-box;
    @include clearfix-full;

    &--contacts {
        margin-bottom: 20px;
    }    
    &--presentation {
        margin-top: 14px;
        margin-bottom: 10px;
    }
}
.grid__column-2 {
    width: 100%;
    box-sizing: border-box;
    @include clearfix-full;
    
    &--menu {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    &--mailplate {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    
}

// ================================= MEDIA ================================= //
// MEDIA TABLET
@media ($tablet) {
.grid__column-1 {
    float: left;

    &--presentation {
        width: 340px;
        margin-bottom: 18px;
    }
    &--contacts {
        float: none;
    }
}
.grid__column-2 {
    float: right;
    width: auto;
    &--menu {
       margin-top: 21px;
    }

    &--mailplate {
        float: none;
    }
}
}

// MEDIA TABLET
@media ($tablet_m) {
.grid__column-2 {
    &--mailplate {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 200px;
    }
    
}
}
// MEDIA PC
@media ($desktop) {
.grid__column-1 {
    &--presentation {
        width: 400px;
    }
}
}