//-
    * article.pug
    * Блок Статья блога
    *
    * @block {article} начало разметки блока
//-   
include ../paginator/paginator.pug
include ../tags/tags.pug
mixin article()
    +b.ARTICLE.article&attributes(attributes)
        +e.H1 Белый цвет в роли архитектора пространства
        +e.H2.
            Стена с пассажем о любви – ​центральная в этом доме. Про любовь здесь 
            все: от любви к дизайн-бестселлерам Франко Альбини и Рона Арада до 
            любви ко всем оттенкам белого.
        +e.FIGURE
            +e.IMG(src="img/blog-detail__picture1.jpg" srcset="img/blog-detail__picture1-800.jpg 800w").picture
            +e.FIGCAPTION
        +e.P. 
            Как выглядит любовь? У хозяев и авторов этого дома любовь «одета» в 
            бело-серо-черную гамму, любит геометричные формы, ценит искусство и 
            понимает юмор. Любви посвящена не только стена в гостиной с несколько 
            высокопарным, но пронзительным описанием любви, про любовь тут весь 
            интерьер в целом. 
            Первый этаж: единое пространство гостиной, столовой и кухни
            Первый этаж: единое пространство гостиной, столовой и кухни
        +e.P. 
            «Этот манифест появился здесь почти случайно, – ​рассказывает дизайнер 
            и основатель бюро Wei Yi International Design Associates Шин-Юан Фанг, 
            – ​но в результате стал главным героем и главной интригой этого 
            интерьера. Когда мы проектировали дом, то в центре первого этажа 
            появился технический короб, скрывающий несущую конструкцию. 
        +e.FIGURE
            +e.IMG(src="img/blog-detail__picture2.jpg" srcset="img/blog-detail__picture2-800.jpg 800w")
            +e.FIGCAPTION Первый этаж: единое пространство гостиной, столовой и кухни
        +e.P. 
            Так как пространство внушительное, то короб мы использовали в 
            качестве разделительного элемента. Так гостиная, малая гостиная, кухня 
            со столовой и библиотека стали более-менее самостоятельными. Но короб 
            необходимо было оформить. Мы выкрасили его в серо-черные цвета (это 
            любимая гамма не только моя, но и сотрудников моей студии), а со 
            стороны кухни и гостиной хотели повесить яркое полотно. Но тут нам на 
            помощь пришли владельцы дома. Они предложили сделать барельеф из фраз. 
            Про что? – ​спросили мы, и спустя какое-то время владельцы принесли нам 
            листок вот с этим текстом про любовь. И знаете, получилось гораздо 
            интересней, чем мы задумывали. Надпись лучше всякой картины превратила 
            технический элемент в произведение искусства».
        +e.P.
            Белый цвет в этом проекте выступает в роли архитектора пространства. 
            Белый создает объем, а его оттенки подчеркивают те или иные 
            функцио­нальные зоны. Первый, гостевой, этаж практически весь белый: 
            лестница, полы, стены, некоторые предметы. На втором и третьем этажах, 
            где расположены спальни детей и владельцев дома, белый уже несколько 
            уступает свое главенство. Здесь появляется цветной текстиль и 
            аксессуары. А вот последний, четвертый, этаж – ​выполнен в темной гамме.
        +e.FIGURE
            +e.IMG(src="img/blog-detail__picture3.jpg" srcset="img/blog-detail__picture3-800.jpg 800w").picture
            +e.FIGCAPTION
        +paginator()(class="article__paginator")
        +e.P Так же проект можно посмотреть на  #[A(href="#") Behance.]
        +tags(["#Декорирование", "#Советы"])(class="article__tags")