/**
* Presentation.scss
* Презентационный блок, включает заголовок и краткое описание 
* 
* @block   {presentation} презентационный блок
* @element {presentation__title} заголовок
* @element {presentation__description} описание
*/  

// ============================== PRESENTATION ============================= //
.presentation { 
    color: $brown-light;
    font-family: $alice;
    font-size: 36px;
    line-height: 40px;
    font-weight: normal;
}

.presentation__title {
    margin: 0;
    
    font-size: inherit;
    line-height: inherit;
    font-weight: bold;
}

.presentation__description {
    margin: 0;
    padding-top: 7px;
    
    color: $brown-dark;  
    font-size: 16px;
    line-height: 16px;    
}

// ================================== MEDIA ================================ //
@media ($tablet) {
.presentation__title {
    font-size: 38px;
}
}

@media ($desktop_m) {
.presentation__title {
    font-size: 42px;
}
}