/**
* Базовая сетка проекта 
* 
* @block   {grid} начало блока
*
* @element {grid__container} 
* @element {grid__block} 

*/  
// ================================== GRID ================================= //
.grid-agreement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;   
}

// ================================== BASE ================================= //
.grid-agreement__container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
 
    &--header {
        display: none;
    }
    &--main {
        justify-content: space-between;
    }
    &--footer {
        display: none;
    }
}

.grid-agreement__blanket {
    display: none;
}
.grid-agreement__content {
    flex-grow: 1;
    margin: 75px 20px;
}

@media @tablet { 
    .grid-agreement__container {
        &--main {
        }
    }
    .grid-agreement__blanket {
        display: none;
    }
    .grid-agreement__content {
        flex-shrink: 0;
        flex-grow: 0;
        max-width: 1024px;
        width: 50%;
        margin: 125px auto;
    }
}

// ************************************************************************* //
// =============================== ELEMENTS ================================ //
// ************************************************************************* //

// ============================== BREADCRUMBS ============================== // 
.grid-agreement__breadcrumbs {
    display: none;
    position: absolute;
    top: 24px;
    left: 100px;
}

@media @tablet {
    .grid-agreement__breadcrumbs {
        display: block;
    }
}

// ================================= BACK ================================== //
.grid-agreement__back {
    display: none;
}
@media @desktop-m { 
    .grid-agreement__back {
        display: block;
        .left-bottom();
        position: fixed;
        width: 6%;
        color: @grey-dark;
        font-family: @Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        text-decoration: none;
        text-transform: uppercase;
    }
}

// ============================== TG ARTICLE =============================== // 
.tg.grid-agreement__article {
    & dl {
        display: inline;
    }
    & dt,
    & dd {
        display: inline;
        margin: 0;
        color: @grey-dark;
        font-family: @Roboto;
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        text-decoration: none;
    }
}

@media @tablet { 
    .tg.grid-agreement__article {
        & h1 {
            margin-bottom: 45px;
            font-size: 30px;
            line-height: 36px;
        }
        & h2 {
            font-size: 21px;
            line-height: 25px;
        }
        & p,
        & li,
        & time {
            font-size: 15px;
            margin-top: 5px;
        }
        & h1+h2 {
            margin-top: 45px;
        }
        & h2+p {
            margin-top: 20px;
        }
        
    }
}
