//-
    * service.pug
    * Блок Услуга подробно
    *
    * @block {service} начало разметки блока
//-   
include ../feature-plate/feature-plate.pug
mixin service()
    +b.ARTICLE.service&attributes(attributes)
        +e.H1 Планировочные решения и документация
            +feature-plate("Стоимость", "от 3000 &#8381;/м<sup>2</sup>", "")(class="service__feature-desktop")
            +feature-plate("Сроки", "от 4 недель", "")(class="service__feature-desktop")
        +e.H2.
            Выполняется реалистичная 3D-визуализация всех помещений и полный 
            комплект чертежей
        +e.UL
            +e.LI Обмерный план
            +e.LI Эскиз планировочного решения: план c расстановкой мебели и экспликацией
            +e.LI Стилистические коллажи по оформлению помещений
            +e.LI Демонтажный план
            +e.LI Монтажный план
            +e.LI План привязки дверных проемов
            +e.LI План привязки сантехнического оборудования
            +e.LI План полов
            +e.LI План потолков
            +e.LI План по электрике — осветительные приборы, электрические выводы
            +e.LI План по электрике — выключатели и регуляторы 
            +e.LI План по электрике — розетки
            +e.LI План по электрике — теплые полы
            +e.LI Развертки по стенам всех помещений объекта
            +e.LI Чертежи нетиповых деталей и встроенной мебели (если имеются)
            +e.LI 3D-визуализация
            +e.LI Спецификация по материалам
        +feature-plate("Стоимость", "от 3000 &#8381;/м<sup>2</sup>", "")(class="service__feature")
        +feature-plate("Сроки", "от 4 недель", "")(class="service__feature")
            