/* Alice */
@font-face {
    font-family: 'Alice';
    src: url('../fonts/alice-regular-webfont.eot');
    src: url('../fonts/alice-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alice-regular-webfont.woff2') format('woff2'),
         url('../fonts/alice-regular-webfont.woff') format('woff'),
         url('../fonts/alice-regular-webfont.ttf') format('truetype'),
         url('../fonts/alice-regular-webfont.svg#aliceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* aleksandrac - cyrillic_latin */
@font-face {
    font-family: 'AleksandraC';
    src: url('../fonts/aleksandrac_regular-webfont.woff2') format('woff2'),
         url('../fonts/aleksandrac_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* fontello */
@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?61328823');
    src: url('../fonts/fontello.eot?61328823#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?61328823') format('woff'),
       url('../fonts/fontello.ttf?61328823') format('truetype'),
       url('../fonts/fontello.svg?61328823#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

