/**
* Глобальные переменные проекта 
*
* @module variables
*/  

// =============================== BACKGOUND =============================== //
$bg-base: white url("../img/html-bg-1.png");

// ================================= COLOR ================================= //
$brown:       #d2a86c;
$brown-light: #d9b786;
$brown-dark:  #987347;

$grey:        #777777;
$grey-light:  #cccccc;
$grey-dark:   #333333;

// ================================= FONTS ================================= //
$alice: 'Alice', serif;
$aleksandra: 'AleksandraC', sans-serif;
$iconfont: 'fontello';
// ================================= WIDTH ================================= //
$tablet:     'min-width: 450px';
$tablet_m:   'min-width: 700px';
$desktop:    'min-width: 950px';
$desktop_m:  'min-width: 1050px';
$desktop_xl: 'min-width: 1200px';