//-
    * Projects.pug
    * Блок обертка, содержит данные всех проектов, зависит от project.pug 
    *
    * Project.pug
    * Описание параметров блока project
    *
    * @param {}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
//- 
include ../project/project.pug
mixin projects(title)
    +b.projects
        +project(
            "ГдеЭтотДом.РУ",
             "Верстка по макету из PDF-файла.",
             "img/project-gdeetotdom.jpg",
             ["Html5","Css3","Simple JS","Less","Gulp"],
             ["Responsive","БЭМ","Из PDF"],
             "20170731",
             "20170731",
             "projects/gdeetotdom/public/index.html",
             "Демо",
             "https://github.com/MerkurevSergei/MerkurevSergei.github.io/tree/master/public/projects/gdeetotdom",
             "Код"
        )
        +project(
            "Портфолио",
            "Верстка личного портфолио.",
            "img/project-portfolio.jpg",
            ["Html5","Css3","Simple JS","Pug","Sass","Gulp"],
            ["Adaptive","Responsive","БЭМ"],
            "20170715",
            "20170715",
            "index.html",
            "Демо",
            "https://github.com/MerkurevSergei/MerkurevSergei.github.io/",
            "Код"
        )
        +project(
            "Nёrd's",
            "Верстка макета веб-студии «Nёrd's» от htmlacademy.",
            "img/project-nerds.jpg",
            ["Html5","Css3","Sass","Gulp"],
            ["Pixel Perfect","БЭМ"],
            "20170701",
            "20170701",
            "projects/nerds/index.html",
            "Демо",
            "https://github.com/MerkurevSergei/MerkurevSergei.github.io/tree/master/public/projects/nerds/",
            "Код"
        )
        +project(
            "Барбершоп",
            "Верстка классического макета барбершопа «Бородинский» от htmlacademy.",
            "img/project-barbershop.jpg",
            ["Html5","Css3"],
            ["Pixel Perfect"],
            "20170615",
            "20170615",
            "projects/barbershop/index.html",
            "Демо",
            "https://github.com/MerkurevSergei/MerkurevSergei.github.io/tree/master/public/projects/barbershop",
            "Код"
        )
        +project(
            "Блог на symfony",
            "Стартовая сборка gulp для frontend разработки.",
            "img/project-C++.jpg",
            [],
            [],
            "20170701",
            "20170701",
            "projects/secretalbum/index.html",
            "Демо",
            "https://github.com/MerkurevSergei/MerkurevSergei.github.io/tree/master/public/projects/C%2B%2B",
            "Код"
        )
        +project(
            "С++/Qt",
            "Реализация несложных сортировок и алгоритмов на графах.",
            "img/project-C++.jpg",
            [],
            [],
            "20161231",
            "20161231",
            "projects/gdeetotdom/public/index.html",
            "Демо",
            "https://github.com/MerkurevSergei/MerkurevSergei.github.io/tree/master/public/projects/C%2B%2B",
            "Код"
        )
        +project(
            "Сделано руками",
            "Интересные штуки сделанные руками.",
            "img/project-C++.jpg",
            [],
            [],
            "20170211",
            "20170211",
            "https://github.com/MerkurevSergei/MerkurevSergei.github.io/tree/master/public/projects/made_by_hand",
            "Демо",
            "https://github.com/MerkurevSergei/MerkurevSergei.github.io/tree/master/public/projects/made_by_hand",
            "Код"
        )