/**
* Projects.scss
* Блок обертка, содержит все проекты, посредством включения project.pug
* 
* @block   {projects} блок-обертка над project
* @element {projects__title} заголовок блока
*/

// ================================ PROJECTS =============================== //
.projects {
    font-size: 0;
    line-height: 0;
}

.projects__title {
    color: $grey-dark;
    @include block-title;
}