//-
    * Projects.pug
    * Блок обертка, содержит данные всех проектов, зависит от project.pug 
    *
    * Project.pug
    * Описание параметров блока project
    *
    * @param {}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
    * @param {}
//- 
include ../project/project.pug
mixin projects(title)
    +b.projects
        +project(
            "ГдеЭтотДом.РУ",
            "http://www.gdeetotdom.ru/",
            "Верстка по макету из PDF-файла.",
            "img/project-gdeetotdom.jpg",
            ["С исходниками"],
            ["Html5","Css3","Simple JS","Less","Gulp"],
            ["Responsive","БЭМ","Из PDF"],
            "20170731",
            "20170731",
            "projects/GED/public/index.html",
            "Демо",
            "https://github.com/MerkurevSergei/MerkurevSergei.github.io/tree/master/public/projects/GED",
            "Код"
        )(class="projects__item")
        +project(
            "Портфолио",
            "https://merkurevsergei.github.io/",
            "Верстка личного портфолио.",
            "img/project-portfolio.jpg",
            ["С исходниками"],
            ["Html5|new","Css3","Simple JS","Pug","Sass","Gulp"],
            ["Adaptive","Responsive","БЭМ"],
            "20170715",
            "20170715",
            "index.html",
            "Демо",
            "https://github.com/MerkurevSergei/MerkurevSergei.github.io/",
            "Код"
        )(class="projects__item")
        +project(
            "Nёrd's",
            "",
            "Верстка макета веб-студии «Nёrd's» от htmlacademy.",
            "img/project-nerds.jpg",
            [],
            ["Html5","Css3","Sass","Gulp"],
            ["Pixel Perfect","БЭМ"],
            "20170701",
            "20170701",
            "projects/Nerds/index.html",
            "Демо",
            "https://github.com/MerkurevSergei/MerkurevSergei.github.io/tree/master/public/projects/Nerds/",
            "Код"
        )(class="projects__item")
        +project(
            "Барбершоп",
            "",
            "Верстка классического макета барбершопа «Бородинский» от htmlacademy.",
            "img/project-barbershop.jpg",
            [],
            ["Html5","Css3"],
            ["Pixel Perfect"],
            "20170615",
            "20170615",
            "projects/Barbershop/index.html",
            "Демо",
            "https://github.com/MerkurevSergei/MerkurevSergei.github.io/tree/master/public/projects/Barbershop",
            "Код"
        )(class="projects__item")
        +project(
            "Блог на symfony",
            "",
            "Стартовая сборка gulp для frontend разработки.",
            "img/project-C++.jpg",
            [],
            [],
            [],
            "20170701",
            "20170701",
            "projects/SecretAlbum/index.html",
            "Демо",
            "https://github.com/MerkurevSergei/MerkurevSergei.github.io/tree/master/public/projects/C%2B%2B",
            "Код"
        )(class="projects__item")
        +project(
            "С++/Qt",
            "",
            "Реализация несложных сортировок и алгоритмов на графах.",
            "img/project-C++.jpg",
            [],
            [],
            [],
            "20161231",
            "20161231",
            "projects/GED/public/index.html",
            "Демо",
            "https://github.com/MerkurevSergei/MerkurevSergei.github.io/tree/master/public/projects/C%2B%2B",
            "Код"
        )(class="projects__item")
        +project(
            "Сделано руками",
            "",
            "Интересные штуки сделанные руками.",
            "img/project-C++.jpg",
            [],
            [],
            [],
            "20170211",
            "20170211",
            "https://github.com/MerkurevSergei/MerkurevSergei.github.io/tree/master/public/projects/Made_by_hand",
            "Демо",
            "https://github.com/MerkurevSergei/MerkurevSergei.github.io/tree/master/public/projects/Made_by_hand",
            "Код"
        )(class="projects__item")